/*

--------------------------------------------
ESTRUTURA BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIAVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Open Sans', sans-serif;

*/

/* ESTILOS GERAIS */
html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* header -----------*/
/* corpo Principal*/
header {}
header div{}

/* caixa com foto de perfil */
.foto{}
.foto figure{}
.foto figure img{}
.foto figure figcaption{}

/* caixa com dados pessoais */
.perfil{}
.perfil h1{}
.perfil ul{}
.perfil ul li{}
.perfil ul li a{}

/* Corpo Pirncipal */
main{}

/*Caixa lado direito */
.lado_direito{}
.lado_direito h2{}
.lado_direito p{}

.perfil_profissional{}
.perfil_profissional h2{}
.perfil_profissional p{}
.perfil_profissional ul{}
.perfil_profissional ul li{}


/*Caixa lado exquerdo */